@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.padd {
  padding: 8px;
}

header {
  text-align: center;
  color: #fff;
  padding: 15px;
  position: fixed;
  width: 100%;
  background: none;
  cursor: pointer;
  z-index: 2;
  background-color: #292929;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #BA492B;
}

.stats {
  color: whitesmoke;
  text-align: center;
  margin: 50px 0;
  width: 100%;
  height: auto;
}

.numbers {
  font-size: 150px;
}

.textNumber {
  font-size: 90px;
}

.number-box {
  text-align: center;
  height: auto;
  width: 370px;
  background-color: #212121;
  box-shadow: 13px solid black;
  cursor: default;
  transition: .2s;
}

.number-box:hover {
  transform: scale(1.1);
  z-index: 2;
  transition: .2s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  z-index: -1;
}

.text {
  color: #f2f2f2;
  font-size: 28px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.text-container {
  background-color: #292929;
  color: whitesmoke;
  width: auto;
  padding: 8px;
}

.navImage {
  margin-right: 20px;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.stats {
  color: #292929;
  padding: 8px;
  width: 100%;
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.stat-img {
  width: 200px;
  height: auto;
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-text {
  font-size: 48px;
  color: #292929;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
}

.airline-stat {
  z-index: 1;
  transform: translateY(30px);
}

.pilot-stat {
  transform: translateY(-25px);
}

.black {
  background-color: #292929;
}

.other {
  background-color: #BA492B;
}

.discord-container {
  width: 400px;
}

.adv-images {
  width: 400px;
  height: 200px;
  z-index: 2;
  margin: 1rem;
}

.discord-corner {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.discord-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights {
  color: #BA492B;
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  max-width: 400px;
  margin-left: 20px; 
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #BA492B;
  transition: .3s;
}

a:hover {
  color: whitesmoke;
  transition: .3s;
}

.footerArea {
  width: 100%;
}

.footerStuff-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.footer-items {
  margin-top: 8px;
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
